@charset "UTF-8";
/* ==========================================================================
*   #RESET
   ========================================================================== */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
figure, hr,
fieldset, legend {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  min-width: 0;
  border: 0; }

/* ==========================================================================
*  # BOX-SIZING
==========================================================================*/
*:not(img), *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/* ==========================================================================
*  #FONT-FACE
  ==========================================================================*/
/* ==========================================================================
*   #SHARED
   ========================================================================== */
address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
  margin-bottom: 1.3rem; }

/* ==========================================================================
*  #HTML
   ========================================================================== */
html {
  min-height: 100%;
  /* [3] */
  overflow-y: scroll;
  /* [2] */ }

/* ==========================================================================
*   #BODY
   ========================================================================== */
body {
  background: #fff;
  color: #3e3e3e;
  font-size: 0.75em;
  font-family: "Montserrat", system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
  line-height: 1.6;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* ==========================================================================
*   #HEADINGS
   ========================================================================== */
h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }

/* ==========================================================================
*   #LINKS
   ========================================================================== */
a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: #c6d301; }

/* ==========================================================================
*   #LISTS
   ========================================================================== */
ul,
ol {
  padding: 0;
  margin-left: 0;
  margin-bottom: 0.5rem;
  list-style: none; }
  ul > li,
  ol > li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 1rem;
  margin-left: 1rem; }

/* ==========================================================================
*   #TABLES
   ========================================================================== */
table {
  width: 100%; }

/* ==========================================================================
*   #HR
   ========================================================================== */
hr {
  display: block; }

/* ==========================================================================
*   #IMAGES
   ========================================================================== */
img {
  font-style: italic;
  max-width: 100%;
  vertical-align: middle; }

img[width],
img[height] {
  max-width: none; }

/* ==========================================================================
*   #BLOCKQUOTES
   ========================================================================== */
blockquote {
  quotes: '“' '”' '‘' '’';
  font-style: italic; }
  blockquote p:first-child:before {
    content: open-quote; }
  blockquote p:last-child:after {
    content: close-quote; }

.btn, .btn:link, .btn:visited {
  display: block;
  padding: 0.9375rem 0;
  margin: 0.625rem 0;
  width: 300px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #c6d301;
  border: 1px solid #c6d301;
  border-radius: 3px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 300ms ease-in-out;
  cursor: pointer; }
  .btn.--white, .btn:link.--white, .btn:visited.--white {
    background-color: transparent;
    border: 1px solid #c6d301;
    color: #c6d301; }

.btn:hover {
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.7rem 1.3rem rgba(0, 0, 0, 0.3); }

.social-share > .icon:not(:first-child) {
  margin-left: 0.625rem; }
  .social-share > .icon:not(:first-child).--green {
    margin-left: 0.9375rem; }

.social-share > .icon {
  transition: all 300ms ease-in-out; }
  .social-share > .icon.--green {
    color: #c6d301;
    font-size: 25px; }
    .social-share > .icon.--green:hover {
      color: #375d2f; }

.main-header {
  height: 100%;
  background: url("../../assets/img/Rectangle-top.svg") no-repeat, url("../../assets/img/bg-hero.png") no-repeat;
  background-position: center top, top center;
  background-size: fixed, cover; }
  @media (max-width: 56.25em) {
    .main-header {
      background: url("../../assets/img/Rectangle-top.svg") no-repeat, url("../../assets/img/bg-hero.png") no-repeat;
      background-position: 53% top, top center;
      background-size: fixed, cover; } }
  @media only screen and (max-width: 48em) {
    .main-header {
      background: url("../../assets/img/Rectangle-top.svg") no-repeat, url("../../assets/img/bg-hero.png") no-repeat;
      background-position: 58% top, top center;
      background-size: fixed, cover; } }
  @media (max-width: 37.5em) {
    .main-header {
      background: url("../../assets/img/bg-hero.png") no-repeat;
      background-position: top center;
      background-size: cover; } }

.nav-bar {
  transition: all 300ms ease-in-out; }

.nav-bar.--fixed {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 101px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }

.topbar {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  padding: 1.25rem 0.625rem 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 300ms ease-in-out; }
  .topbar > .logo .img {
    width: 260px; }
    @media only screen and (max-width: 768px) {
      .topbar > .logo .img {
        width: 150px; } }
  .topbar > .logo .numero {
    display: none; }

.topbar.--fixed > .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px; }
  .topbar.--fixed > .logo .img {
    width: 150px; }
  .topbar.--fixed > .logo .numero {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0; }
    @media (max-width: 41.25em) and (min-width: 37.5em) {
      .topbar.--fixed > .logo .numero {
        display: none; } }

.top-nav__input {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important; }

.top-nav__label {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 30px;
  right: 27.5px;
  cursor: pointer;
  z-index: 20; }
  @media (min-width: 37.5em) {
    .top-nav__label {
      border: 0 !important;
      clip: rect(0 0 0 0) !important;
      clip-path: inset(50%) !important;
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      white-space: nowrap !important;
      width: 1px !important; } }

.top-nav__span {
  width: 40px;
  height: 3px;
  display: inline-block;
  position: absolute;
  background-color: #c6d301;
  top: 20px;
  right: 2.5px;
  border-radius: 3px;
  transition: all 300ms ease-in-out; }
  @media (min-width: 37.5em) {
    .top-nav__span {
      border: 0 !important;
      clip: rect(0 0 0 0) !important;
      clip-path: inset(50%) !important;
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      white-space: nowrap !important;
      width: 1px !important; } }
  .top-nav__span::before, .top-nav__span::after {
    content: "";
    width: 40px;
    height: 3px;
    display: block;
    position: absolute;
    z-index: 10;
    background-color: #c6d301;
    border-radius: 3px;
    transition: all 300ms ease-in-out; }
  .top-nav__span::before {
    top: 10px; }
  .top-nav__span::after {
    bottom: 10px; }

.top-nav__input:checked ~ .top-nav__label .top-nav__span {
  background-color: transparent; }

.top-nav__input:checked ~ .top-nav__label .top-nav__span:before {
  transform: rotate(-135deg);
  background-color: #fff;
  box-shadow: 0 0 4px rgba(198, 211, 1, 0.9);
  top: 0; }

.top-nav__input:checked ~ .top-nav__label .top-nav__span:after {
  transform: rotate(135deg);
  background-color: #fff;
  box-shadow: 0 0 4px rgba(198, 211, 1, 0.9);
  bottom: 0; }

.top-nav__input:checked ~ .box {
  transform: translateY(0); }

.top-nav .box {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(55, 93, 47, 0.9);
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: all 300ms ease-in-out; }
  @media (min-width: 37.5em) {
    .top-nav .box {
      transform: translateY(0);
      height: 100%;
      position: inherit;
      width: 100%;
      align-items: flex-end;
      justify-content: flex-start;
      background: transparent; } }

.top-nav .play-jimgle {
  margin-top: 10px; }
  .top-nav .play-jimgle > .player {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px; }
    @media (min-width: 37.5em) {
      .top-nav .play-jimgle > .player {
        font-size: 0.9375rem; } }
  .top-nav .play-jimgle span {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px; }
    @media (min-width: 37.5em) {
      .top-nav .play-jimgle span {
        margin-right: 0.625rem;
        line-height: 1.6;
        font-size: 0.8125rem; } }

@media (min-width: 37.5em) {
  .top-nav .top-share {
    display: flex;
    align-items: center; } }

.top-nav .social-share {
  font-size: 20px;
  text-align: center;
  margin-bottom: 6.25rem;
  margin-top: 1.25rem; }
  @media (min-width: 37.5em) {
    .top-nav .social-share {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 0.9375rem; } }

.top-nav .top-navigation {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25rem; }
  @media (min-width: 37.5em) {
    .top-nav .top-navigation .list {
      font-size: 0.8125rem;
      display: flex; } }
  @media (min-width: 37.5em) {
    .top-nav .top-navigation .item:not(:last-child) {
      margin-right: 0.625rem; } }
  @media (min-width: 37.5em) {
    .top-nav .top-navigation .link:link, .top-nav .top-navigation .link:active {
      position: relative;
      text-transform: uppercase; }
      .top-nav .top-navigation .link:link::after, .top-nav .top-navigation .link:active::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        height: 2px;
        background-color: #c6d301;
        transform-origin: 0;
        transition: all 300ms ease-in-out;
        width: 0; }
    .top-nav .top-navigation .link:hover::after, .top-nav .top-navigation .link:active::after, .top-nav .top-navigation .link:focus::after {
      width: 100%; } }

.header-cta {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  color: #fff;
  display: flex;
  align-items: center; }
  @media (max-width: 56.25em) {
    .header-cta {
      max-width: 769px; } }
  @media only screen and (max-width: 48em) {
    .header-cta {
      flex-wrap: wrap;
      justify-content: center; } }
  .header-cta > .img {
    max-width: 560px;
    transform: translateY(-3.5px); }
    @media (max-width: 56.25em) {
      .header-cta > .img {
        max-width: 470px; } }
    @media only screen and (max-width: 48em) {
      .header-cta > .img {
        max-width: 560px; } }
    @media (max-width: 37.5em) {
      .header-cta > .img {
        max-width: 90%; } }
  .header-cta > .box {
    margin-left: -150px;
    z-index: 2; }
    @media only screen and (max-width: 48em) {
      .header-cta > .box {
        margin-left: 0;
        width: 100%; } }
    .header-cta > .box > .numero {
      font-size: 8.75rem;
      font-weight: 700;
      margin: 0;
      line-height: .9;
      width: 470px;
      margin-left: auto;
      text-align: left; }
      @media (max-width: 56.25em) {
        .header-cta > .box > .numero {
          font-size: 8.125rem;
          width: 430px; } }
      @media only screen and (max-width: 48em) {
        .header-cta > .box > .numero {
          width: 100%;
          text-align: center; } }
      @media (max-width: 37.5em) {
        .header-cta > .box > .numero {
          font-size: 5.9375rem; } }
    .header-cta > .box > .chamada {
      font-size: 3.75rem;
      font-weight: 700;
      margin: 0;
      line-height: 1;
      width: 470px;
      margin-left: auto;
      text-align: left;
      text-indent: 10px; }
      @media (max-width: 56.25em) {
        .header-cta > .box > .chamada {
          font-size: 3.125rem;
          width: 430px;
          text-align: center;
          text-indent: 0; } }
      @media only screen and (max-width: 48em) {
        .header-cta > .box > .chamada {
          width: 100%;
          text-align: center; } }
    .header-cta > .box > .content {
      width: 470px;
      margin-left: auto;
      text-align: center;
      font-weight: 400; }
      @media (max-width: 56.25em) {
        .header-cta > .box > .content {
          width: 430px; } }
      @media only screen and (max-width: 48em) {
        .header-cta > .box > .content {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          text-align: center; } }
    .header-cta > .box > .btn {
      margin-left: auto; }
      @media only screen and (max-width: 48em) {
        .header-cta > .box > .btn {
          margin-left: auto;
          margin-right: auto; }
          .header-cta > .box > .btn.--white {
            margin-bottom: 3.125rem; } }

.section-sobre {
  padding: 4.375rem 0.625rem; }
  .section-sobre > .title {
    text-align: center;
    text-indent: -1000000px;
    display: block;
    position: relative;
    height: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 37.5em) {
      .section-sobre > .title {
        width: 300px; } }
    .section-sobre > .title::after {
      content: "";
      display: block;
      position: absolute;
      background: url("../../assets/img/sobre-artagao.png") center no-repeat;
      background-size: 100%;
      height: 100px;
      width: 100%;
      top: 0;
      left: 0; }
  .section-sobre > .wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px; }
    @media (max-width: 37.5em) {
      .section-sobre > .wrapper {
        flex-wrap: wrap; } }
  .section-sobre .content {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto; }
    .section-sobre .content .btn {
      margin-left: auto;
      margin-right: auto; }
  .section-sobre .img {
    max-width: 50%;
    margin-right: 1.25rem; }
    @media (max-width: 56.25em) {
      .section-sobre .img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.625rem; } }
    @media (max-width: 37.5em) {
      .section-sobre .img {
        max-width: 75%; } }

.section-acao {
  padding: 6.25rem 0;
  background: url("../../assets/img/bg-section-projetos.png") center no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 48em) {
    .section-acao {
      padding: 4.375rem 0; } }
  .section-acao > .title {
    text-align: center;
    color: #c6d301; }
  .section-acao > .box {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background-color: #2a4724;
    padding: 0.9375rem 1.25rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    margin-bottom: -1.25rem;
    z-index: 10;
    position: relative; }
    .section-acao > .box > p {
      margin-bottom: 0; }
  .section-acao > .grid-acao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto; }
  .section-acao .projeto {
    margin: 0.1875rem;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    max-width: 270px; }
  .section-acao .img:hover ~ .overlay {
    height: 100%; }
  .section-acao .overlay {
    position: absolute;
    background-color: rgba(55, 93, 47, 0.7);
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out; }
    .section-acao .overlay:hover {
      height: 100%; }
  .section-acao .link {
    font-weight: 600; }
    .section-acao .link:link, .section-acao .link:active {
      position: relative;
      text-transform: uppercase; }
      .section-acao .link:link::after, .section-acao .link:active::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        height: 2px;
        background-color: #c6d301;
        transform-origin: 0;
        transition: all 300ms ease-in-out;
        width: 0; }
    .section-acao .link:hover::after, .section-acao .link:active::after, .section-acao .link:focus::after {
      width: 100%; }
    .section-acao .link::before {
      content: "";
      display: block;
      position: absolute;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      width: 15px;
      height: 15px;
      color: transparent;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      transition: all 300ms ease-in-out; }
    .section-acao .link:hover::before {
      color: #fff; }

.section-novidades {
  padding: 4.375rem 0.625rem;
  background: url("../../assets/img/bg-novidades.png") left center no-repeat;
  background-size: cover; }
  .section-novidades > .wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 48em) {
      .section-novidades > .wrapper {
        flex-wrap: wrap; } }

.novidades-title > .title {
  max-width: 400px;
  color: #c6d301;
  line-height: 1.4;
  margin-bottom: 0; }
  @media only screen and (max-width: 48em) {
    .novidades-title > .title {
      max-width: 100%;
      text-align: center;
      margin-bottom: 0.625rem; } }

.novidades-title > .content {
  max-width: 530px;
  text-align: left; }
  @media only screen and (max-width: 48em) {
    .novidades-title > .content {
      max-width: 100%;
      text-align: center; } }

@media only screen and (max-width: 48em) {
  .novidades-share {
    display: flex;
    justify-content: center;
    align-items: center; } }

@media (max-width: 37.5em) {
  .novidades-share {
    display: block;
    margin-left: auto;
    margin-right: auto; } }

.novidades-share > .title {
  color: #c6d301;
  font-size: 1rem; }
  @media only screen and (max-width: 48em) {
    .novidades-share > .title {
      margin-top: 0.3125rem;
      margin-bottom: 0.3125rem;
      margin-right: 0.625rem;
      font-size: 1.125rem; } }

.novidades-share > .social-share {
  text-align: right; }
  @media (max-width: 37.5em) {
    .novidades-share > .social-share {
      text-align: center; } }

.grid-novidades {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center; }
  .grid-novidades > .figure {
    max-width: 280px;
    margin: 5px; }

.footer-nav {
  height: 100%;
  background: url("../../assets/img/bg-footer.png") center no-repeat;
  background-size: cover; }
  .footer-nav > .wrapper {
    max-width: 900px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0.625rem; }
    @media only screen and (max-width: 48em) {
      .footer-nav > .wrapper {
        flex-wrap: wrap;
        justify-content: center; } }
  .footer-nav .footer-navigation {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
    .footer-nav .footer-navigation .link:link, .footer-nav .footer-navigation .link:active {
      position: relative;
      text-transform: uppercase; }
      .footer-nav .footer-navigation .link:link::after, .footer-nav .footer-navigation .link:active::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        height: 2px;
        background-color: #c6d301;
        transform-origin: 0;
        transition: all 300ms ease-in-out;
        width: 0; }
    .footer-nav .footer-navigation .link:hover::after, .footer-nav .footer-navigation .link:active::after, .footer-nav .footer-navigation .link:focus::after {
      width: 100%; }
  .footer-nav .btn-return {
    display: block;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 3px;
    position: relative;
    color: #c6d301;
    font-size: 45px;
    line-height: 1;
    text-align: center;
    transition: all 300ms ease-in-out;
    margin-left: 1.25rem; }
    .footer-nav .btn-return:hover {
      color: #fff;
      background: #c6d301; }

.footer-candidato {
  margin-top: 0.625rem;
  display: flex;
  align-self: flex-end;
  align-items: flex-end; }
  @media only screen and (max-width: 48em) {
    .footer-candidato {
      margin-top: 1.25rem; } }
  .footer-candidato .candidato {
    width: 280px;
    margin-left: -100px; }
    .footer-candidato .candidato > .registro {
      color: #fff;
      font-size: 5.3125rem;
      line-height: .8;
      margin-bottom: 0;
      text-align: right; }
      @media (max-width: 37.5em) {
        .footer-candidato .candidato > .registro {
          font-size: 3.75rem; } }
    .footer-candidato .candidato > .logo {
      width: 180px;
      display: block;
      margin-left: auto;
      margin-right: 0; }
      @media (max-width: 37.5em) {
        .footer-candidato .candidato > .logo {
          width: 140px; } }
  .footer-candidato .img {
    width: 260px;
    margin-left: 0.625rem; }
    @media (max-width: 37.5em) {
      .footer-candidato .img {
        width: 200px;
        margin-left: 0; } }

.footer-copy {
  padding: 0.625rem 0;
  background-color: #c6d301;
  color: #fff;
  font-weight: 700; }
  .footer-copy > .wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.3125rem; }
    @media (max-width: 37.5em) {
      .footer-copy > .wrapper {
        flex-wrap: wrap;
        text-align: center; } }
    @media (max-width: 37.5em) {
      .footer-copy > .wrapper .copy {
        width: 100%; } }
    @media (max-width: 37.5em) {
      .footer-copy > .wrapper .social-share {
        margin-left: auto;
        margin-right: auto; } }
    .footer-copy > .wrapper .social-share .icon:hover {
      color: #2a4724; }
  .footer-copy .logotipo-red {
    width: 30px; }

.modal-projetos {
  opacity: 0;
  display: none;
  visibility: hidden; }

.modal-projetos.open {
  position: fixed;
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal-projetos.open > .box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    background: #fff;
    border-radius: 3px;
    position: relative; }
    @media (max-width: 56.25em) {
      .modal-projetos.open > .box {
        flex-direction: column;
        height: 100vh; } }
  .modal-projetos.open .img {
    margin: 10px; }
    @media (max-width: 56.25em) {
      .modal-projetos.open .img {
        max-width: 400px;
        height: 300px; } }
  .modal-projetos.open .title {
    text-align: center; }
  .modal-projetos.open .content {
    padding: 10px; }
    @media (max-width: 56.25em) {
      .modal-projetos.open .content {
        overflow: scroll; } }
  .modal-projetos.open .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    background: transparent; }
    .modal-projetos.open .close:hover {
      color: #c02b3f; }
